/nbproject/private/
/application/controllers/Sesion.*
/application/controllers/Validator.*
/application/config/*

/uploads/personal/*
/uploads/equipo/*
/uploads/factura/*
/uploads/items/*

/downloads/personal/*
/downloads/pmo/*
/downloads/items/*

/application/helpers/dompdf/lib/fonts/*
