/nbproject/private/
/application/controllers/Sesion.*
/application/controllers/Validator.*
/application/config/database.*
/application/config/config.*
/uploads/
/uploads/*
/application/helpers/dompdf/lib/fonts/*
