/nbproject/private/
/application/controllers/Sesion.*
/application/controllers/Validator.*
/application/config/*

uploads/personal/
uploads/equipo/
uploads/factura/
uploads/items/
uploads/reportes/

downloads/personal/
downloads/pmo/
downloads/items/
uploads/reportes/

/application/helpers/dompdf/lib/fonts/*
